python-dotenv
pandas
numpy
pymongo
certifi
scikit-learn
dill
pyaml
fastapi
uvicorn
xgboost
imbalanced-learn
pyyaml
streamlit
requests
faiss-cpu
sentence-transformers
langchain
langchain-community
groq
pypdf